body {
    background-image: linear-gradient(#f2ffe6, #316600);
    background-repeat: no-repeat;
    background-color: #316600;
}
div {
    position: absolute;
    background-color: #f2ffe6;
    border: 2px solid green;
    text-align: center;
    padding: 10px;
}
#start_param{
    width: 40%;
    height: 200px;
}
#results{
    top: 220px;
    width: 40%;
}
#chart{
    width: 50%;
    height: 325px;
    right: 0px;
}